<style>
  body {
  margin: 0;
  font-family: sans-serif;
  background: #f2f2f2;
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 12px;
  background: white;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-btn {
  background: #ddd;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
}
.nav-btn.active { background: #0077ff; color: white; }

#main { padding: 15px; }

.card {
  background: white;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 10px;
}

/* Botón flotante */
#addHabitBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #0077ff;
  color: white;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  font-size: 30px;
  border: none;
}

/* Panel agregar hábitos */
#habitPanel {
  position: fixed;
  top:0; right:-100%;
  width: 75%;
  height: 100%;
  background: white;
  padding: 20px;
  transition: 0.3s;
  overflow-y: auto;
}
#habitPanel.show { right: 0; }

.category-title { font-weight: bold; margin-top: 15px; }

/* Calendario */
.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 3px;
}
.calendar div {
  text-align: center;
  padding: 6px;
  background: #eee;
  border-radius: 4px;
  font-size: 12px;
}
.calendar .done { background: #00b14f; color: white; }

.progress-week span {
  display: inline-block;
  width: 12px; height: 12px;
  background:#ddd; border-radius: 50%;
}
.progress-week .done { background:#0077ff; }</style>

